* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

body {
    background: linear-gradient(90deg, #41b883 0%, #00d4ff 100%);
}

.center {
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todos {
    padding: 50px;
}

h1 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 3rem;
}

.todo-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

form {
    width: 100%;
}

form .input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding: 1.3rem;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
}

.input-wrapper button {
    background: transparent;
    border: none;
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.todo-box {
    width: 100%;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 4px;
}

.todo {
    padding: 15px 10px;
    border-bottom: 1px solid #808080;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.todo h3 {
    font-weight: 400;
}

.check-border {
    width: 15px;
    height: 15px;
    border: 2px solid #41b883;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: #41b883;
}

.completed {
    text-decoration: line-through;
}

.filter-wrapper {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-wrapper h4 {
    font-weight: 400;
}

.filter-wrapper ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter-wrapper ul li:hover {
    color: #41b883;
    cursor: pointer;
}

.filter-wrapper button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
}

.filter-wrapper button:hover {
    color: #41b883;
}

.filter-active {
    color: #41b883;
}

@media (max-width: 768px) {
    .todo-wrapper {
        width: 100%;
    }
}
